body {
    background-color:#1ECECB;
}

header {
    /*font-size: 300%;*/
    text-align: center;
    margin-left: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*.lbl {
    background-color:orange;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#btnBuscar {

}*/